# Explore here

In [1]:
# Your code here
import pandas as pd
import matplotlib.pyplot as ptl
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import Lasso, Ridge

# problem formulation

# Exploratory analysis

## Data Gathering

In [2]:
URL = 'https://raw.githubusercontent.com/4GeeksAcademy/regularized-linear-regression-project-tutorial/main/demographic_health_data.csv'
raw_df = pd.read_csv(URL)

## Data overview

In [3]:
raw_df

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,43051,6104,14.178532,6326,14.694200,5359,12.448027,6577,15.277229,...,2098,8.9,8.3,9.6,2834,2.6,2.4,2.8,821,5
3136,56039,23081,2384,10.328842,2185,9.466661,2967,12.854729,4093,17.733200,...,928,7.2,6.5,8.0,1360,2.4,2.2,2.6,447,5
3137,56041,20299,3121,15.375142,3205,15.788955,2153,10.606434,2702,13.311001,...,1163,10.4,9.5,11.2,1500,3.0,2.8,3.2,430,5
3138,56043,7885,858,10.881420,1113,14.115409,715,9.067850,903,11.452124,...,506,11.3,10.3,12.1,686,3.4,3.2,3.7,207,6
3139,56045,6967,780,11.195637,779,11.181283,681,9.774652,906,13.004162,...,480,11.7,10.7,12.7,644,3.4,3.1,3.6,185,6

In [5]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Columns: 108 entries, fips to Urban_rural_code
dtypes: float64(61), int64(45), object(2)
memory usage: 2.6+ MB

In [7]:
for col in raw_df.columns:
    print()
    print(raw_df[col].info())

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: fips
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: TOT_POP
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 0-9
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 0-9 y/o % of total pop
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 19-Oct
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 10-19 y/o % of total pop
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 20-29
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 20-29 y/o % of total pop
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 30-39
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 30-39 y/o % of total pop
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 40-49
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 40-49 y/o % of total pop
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 50-59
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 50-59 y/o % of total pop
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 60-69
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 60-69 y/o % of total pop
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 70-79
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 70-79 y/o % of total pop
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 80+
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: 80+ y/o % of total pop
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: White-alone pop
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: % White-alone
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Black-alone pop
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: % Black-alone
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Native American/American Indian-alone pop
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: % NA/AI-alone
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Asian-alone pop
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: % Asian-alone
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Hawaiian/Pacific Islander-alone pop
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: % Hawaiian/PI-alone
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Two or more races pop
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: % Two or more races
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: POP_ESTIMATE_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: N_POP_CHG_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: GQ_ESTIMATES_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: R_birth_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: R_death_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: R_NATURAL_INC_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: R_INTERNATIONAL_MIG_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: R_DOMESTIC_MIG_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: R_NET_MIG_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Less than a high school diploma 2014-18
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: High school diploma only 2014-18
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Some college or associate's degree 2014-18
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Bachelor's degree or higher 2014-18
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Percent of adults with less than a high school diploma 2014-18
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Percent of adults with a high school diploma only 2014-18
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Percent of adults completing some college or associate's degree 2014-18
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Percent of adults with a bachelor's degree or higher 2014-18
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: POVALL_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: PCTPOVALL_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: PCTPOV017_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: PCTPOV517_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: MEDHHINC_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: CI90LBINC_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: CI90UBINC_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Civilian_labor_force_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Employed_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Unemployed_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Unemployment_rate_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Median_Household_Income_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Med_HH_Income_Percent_of_State_Total_2018
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Active Physicians per 100000 Population 2018 (AAMC)
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Active Primary Care Physicians per 100000 Population 2018 (AAMC)
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Active General Surgeons per 100000 Population 2018 (AAMC)
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Total nurse practitioners (2019)
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Total physician assistants (2019)
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Total Hospitals (2019)
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Internal Medicine Primary Care (2019)
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Family Medicine/General Practice Primary Care (2019)
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Total Specialist Physicians (2019)
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: ICU Beds_x
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Total Population
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Population Aged 60+
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Percent of Population Aged 60+
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: COUNTY_NAME
Non-Null Count  Dtype
--------------  -----
3140 non-null   object
dtypes: object(1)
memory usage: 24.7+ KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: STATE_NAME
Non-Null Count  Dtype
--------------  -----
3140 non-null   object
dtypes: object(1)
memory usage: 24.7+ KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: STATE_FIPS
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: CNTY_FIPS
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: county_pop2018_18 and older
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: anycondition_prevalence
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: anycondition_Lower 95% CI
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: anycondition_Upper 95% CI
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: anycondition_number
Non-Null Count  Dtype
--------------  -----
3140 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Obesity_prevalence
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Obesity_Lower 95% CI
Non-Null Count  Dtype
--------------  -----
3140 non-null   float64
dtypes: float64(1)
memory usage: 24.7 KB
None

<class 'pandas.core.series.Series'>
RangeIndex: 3140 entries, 0 to 3139
Series name: Obesity_Upper 95% CI

In [13]:
for col, series in raw_df.items():
    print(f'{col:25}: {series.notna().count():5} non null, {series.dtype}')

fips                     :  3140 non null, int64
TOT_POP                  :  3140 non null, int64
0-9                      :  3140 non null, int64
0-9 y/o % of total pop   :  3140 non null, float64
19-Oct                   :  3140 non null, int64
10-19 y/o % of total pop :  3140 non null, float64
20-29                    :  3140 non null, int64
20-29 y/o % of total pop :  3140 non null, float64
30-39                    :  3140 non null, int64
30-39 y/o % of total pop :  3140 non null, float64
40-49                    :  3140 non null, int64
40-49 y/o % of total pop :  3140 non null, float64
50-59                    :  3140 non null, int64
50-59 y/o % of total pop :  3140 non null, float64
60-69                    :  3140 non null, int64
60-69 y/o % of total pop :  3140 non null, float64
70-79                    :  3140 non null, int64
70-79 y/o % of total pop :  3140 non null, float64
80+                      :  3140 non null, int64
80+ y/o % of total pop   :  3140 non null, float64
White-alone pop          :  3140 non null, int64
% White-alone            :  3140 non null, float64
Black-alone pop          :  3140 non null, int64
% Black-alone            :  3140 non null, float64
Native American/American Indian-alone pop:  3140 non null, int64
% NA/AI-alone            :  3140 non null, float64
Asian-alone pop          :  3140 non null, int64
% Asian-alone            :  3140 non null, float64
Hawaiian/Pacific Islander-alone pop:  3140 non null, int64
% Hawaiian/PI-alone      :  3140 non null, float64
Two or more races pop    :  3140 non null, int64
% Two or more races      :  3140 non null, float64
POP_ESTIMATE_2018        :  3140 non null, int64
N_POP_CHG_2018           :  3140 non null, int64
GQ_ESTIMATES_2018        :  3140 non null, int64
R_birth_2018             :  3140 non null, float64
R_death_2018             :  3140 non null, float64
R_NATURAL_INC_2018       :  3140 non null, float64
R_INTERNATIONAL_MIG_2018 :  3140 non null, float64
R_DOMESTIC_MIG_2018      :  3140 non null, float64
R_NET_MIG_2018           :  3140 non null, float64
Less than a high school diploma 2014-18:  3140 non null, int64
High school diploma only 2014-18:  3140 non null, int64
Some college or associate's degree 2014-18:  3140 non null, int64
Bachelor's degree or higher 2014-18:  3140 non null, int64
Percent of adults with less than a high school diploma 2014-18:  3140 non null, float64
Percent of adults with a high school diploma only 2014-18:  3140 non null, float64
Percent of adults completing some college or associate's degree 2014-18:  3140 non null, float64
Percent of adults with a bachelor's degree or higher 2014-18:  3140 non null, float64
POVALL_2018              :  3140 non null, int64
PCTPOVALL_2018           :  3140 non null, float64
PCTPOV017_2018           :  3140 non null, float64
PCTPOV517_2018           :  3140 non null, float64
MEDHHINC_2018            :  3140 non null, int64
CI90LBINC_2018           :  3140 non null, int64
CI90UBINC_2018           :  3140 non null, int64
Civilian_labor_force_2018:  3140 non null, int64
Employed_2018            :  3140 non null, int64
Unemployed_2018          :  3140 non null, int64
Unemployment_rate_2018   :  3140 non null, float64
Median_Household_Income_2018:  3140 non null, int64
Med_HH_Income_Percent_of_State_Total_2018:  3140 non null, float64
Active Physicians per 100000 Population 2018 (AAMC):  3140 non null, float64
Total Active Patient Care Physicians per 100000 Population 2018 (AAMC):  3140 non null, float64
Active Primary Care Physicians per 100000 Population 2018 (AAMC):  3140 non null, float64
Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC):  3140 non null, float64
Active General Surgeons per 100000 Population 2018 (AAMC):  3140 non null, float64
Active Patient Care General Surgeons per 100000 Population 2018 (AAMC):  3140 non null, float64
Total nurse practitioners (2019):  3140 non null, float64
Total physician assistants (2019):  3140 non null, float64
Total Hospitals (2019)   :  3140 non null, float64
Internal Medicine Primary Care (2019):  3140 non null, float64
Family Medicine/General Practice Primary Care (2019):  3140 non null, float64
Total Specialist Physicians (2019):  3140 non null, float64
ICU Beds_x               :  3140 non null, int64
Total Population         :  3140 non null, int64
Population Aged 60+      :  3140 non null, int64
Percent of Population Aged 60+:  3140 non null, float64
COUNTY_NAME              :  3140 non null, object
STATE_NAME               :  3140 non null, object
STATE_FIPS               :  3140 non null, int64
CNTY_FIPS                :  3140 non null, int64
county_pop2018_18 and older:  3140 non null, int64
anycondition_prevalence  :  3140 non null, float64
anycondition_Lower 95% CI:  3140 non null, float64
anycondition_Upper 95% CI:  3140 non null, float64
anycondition_number      :  3140 non null, int64
Obesity_prevalence       :  3140 non null, float64
Obesity_Lower 95% CI     :  3140 non null, float64
Obesity_Upper 95% CI     :  3140 non null, float64
Obesity_number           :  3140 non null, int64
Heart disease_prevalence :  3140 non null, float64
Heart disease_Lower 95% CI:  3140 non null, float64
Heart disease_Upper 95% CI:  3140 non null, float64
Heart disease_number     :  3140 non null, int64
COPD_prevalence          :  3140 non null, float64
COPD_Lower 95% CI        :  3140 non null, float64
COPD_Upper 95% CI        :  3140 non null, float64
COPD_number              :  3140 non null, int64
diabetes_prevalence      :  3140 non null, float64
diabetes_Lower 95% CI    :  3140 non null, float64
diabetes_Upper 95% CI    :  3140 non null, float64
diabetes_number          :  3140 non null, int64
CKD_prevalence           :  3140 non null, float64
CKD_Lower 95% CI         :  3140 non null, float64
CKD_Upper 95% CI         :  3140 non null, float64
CKD_number               :  3140 non null, int64
Urban_rural_code         :  3140 non null, int64

In [28]:
for col in raw_df.columns:
    print(f'{col:25}: {raw_df.loc[0,col]:10}, {raw_df.loc[1,col]:10}, {raw_df.loc[2,col]:10}')

fips                     :       1001,       1003,       1005
TOT_POP                  :      55601,     218022,      24881
0-9                      :       6787,      24757,       2732
0-9 y/o % of total pop   : 12.20661499, 11.35527607, 10.98026607
19-Oct                   :       7637,      26913,       2960
10-19 y/o % of total pop : 13.73536447, 12.3441671, 11.89662795
20-29                    :       6878,      23579,       3268
20-29 y/o % of total pop : 12.37028111, 10.81496363, 13.13452032
30-39                    :       7089,      25213,       3201
30-39 y/o % of total pop : 12.74977069, 11.56442928, 12.86523854
40-49                    :       7582,      27338,       3074
40-49 y/o % of total pop : 13.63644539, 12.53910156, 12.35480889
50-59                    :       7738,      29986,       3278
50-59 y/o % of total pop : 13.91701588, 13.75365789, 13.17471163
60-69                    :       5826,      29932,       3076
60-69 y/o % of total pop : 10.47822881, 13.72888975, 12.36284715
70-79                    :       4050,      20936,       2244
70-79 y/o % of total pop : 7.284041654, 9.602700645, 9.018930107
80+                      :       2014,       9368,       1048
80+ y/o % of total pop   : 3.62223701, 4.296814083, 4.212049355
White-alone pop          :      42660,     190301,      12209
% White-alone            : 76.72523875, 87.2852281, 49.06957116
Black-alone pop          :      10915,      19492,      12042
% Black-alone            : 19.63094189, 8.940382163, 48.39837627
Native American/American Indian-alone pop:        267,       1684,        164
% NA/AI-alone            : 0.480207191, 0.772399116, 0.659137495
Asian-alone pop          :        681,       2508,        113
% Asian-alone            : 1.224798115, 1.150342626, 0.45416181
Hawaiian/Pacific Islander-alone pop:         62,        146,         46
% Hawaiian/PI-alone      : 0.111508786, 0.066965719, 0.184880029
Two or more races pop    :       1016,       3891,        307
% Two or more races      : 1.827305264, 1.78468228, 1.233873237
POP_ESTIMATE_2018        :      55601,     218022,      24881
N_POP_CHG_2018           :        158,       5403,       -277
GQ_ESTIMATES_2018        :        455,       2190,       2820
R_birth_2018             :       11.8,       10.5,       10.4
R_death_2018             :        9.6,       10.3,       12.9
R_NATURAL_INC_2018       :        2.2,        0.1,       -2.5
R_INTERNATIONAL_MIG_2018 :        0.0,        0.5,        0.5
R_DOMESTIC_MIG_2018      :        0.7,       24.3,       -9.1
R_NET_MIG_2018           :        0.6,       24.8,       -8.6
Less than a high school diploma 2014-18:       4204,      14310,       4901
High school diploma only 2014-18:      12119,      40579,       6486
Some college or associate's degree 2014-18:      10552,      46025,       4566
Bachelor's degree or higher 2014-18:      10291,      46075,       2220
Percent of adults with less than a high school diploma 2014-18:       11.3,        9.7,       27.0
Percent of adults with a high school diploma only 2014-18:       32.6,       27.6,       35.7
Percent of adults completing some college or associate's degree 2014-18:       28.4,       31.3,       25.1
Percent of adults with a bachelor's degree or higher 2014-18:       27.7,       31.3,       12.2
POVALL_2018              :       7587,      21069,       6788
PCTPOVALL_2018           :       13.8,        9.8,       30.9
PCTPOV017_2018           :       19.3,       13.9,       43.9
PCTPOV517_2018           :       19.5,       13.1,       36.7
MEDHHINC_2018            :      59338,      57588,      34382
CI90LBINC_2018           :      53628,      54437,      31157
CI90UBINC_2018           :      65048,      60739,      37607
Civilian_labor_force_2018:      25957,      93849,       8373
Employed_2018            :      25015,      90456,       7940
Unemployed_2018          :        942,       3393,        433
Unemployment_rate_2018   :        3.6,        3.6,        5.2
Median_Household_Income_2018:      59338,      57588,      34382
Med_HH_Income_Percent_of_State_Total_2018:      119.0,      115.5,       68.9
Active Physicians per 100000 Population 2018 (AAMC):      217.1,      217.1,      217.1
Total Active Patient Care Physicians per 100000 Population 2018 (AAMC):      196.7,      196.7,      196.7
Active Primary Care Physicians per 100000 Population 2018 (AAMC):       77.2,       77.2,       77.2
Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC):       71.2,       71.2,       71.2
Active General Surgeons per 100000 Population 2018 (AAMC):        7.6,        7.6,        7.6
Active Patient Care General Surgeons per 100000 Population 2018 (AAMC):        6.9,        6.9,        6.9
Total nurse practitioners (2019): 28.85913663, 113.1621137, 12.91423137
Total physician assistants (2019): 6.085785611, 23.86351236, 2.72334008
Total Hospitals (2019)   : 1.148905321, 4.505074295, 0.514125884
Internal Medicine Primary Care (2019): 25.99256097, 101.9217303, 11.63146184
Family Medicine/General Practice Primary Care (2019): 21.24906079, 83.32157211, 9.508783681
Total Specialist Physicians (2019): 72.14215392, 282.882982, 32.28303325
ICU Beds_x               :          6,         51,          5
Total Population         :      55036,     203360,      26201
Population Aged 60+      :      10523,      53519,       6150
Percent of Population Aged 60+:       19.1,       26.3,       23.5
COUNTY_NAME              : Autauga   , Baldwin   , Barbour
STATE_NAME               : Alabama   , Alabama   , Alabama
STATE_FIPS               :          1,          1,          1
CNTY_FIPS                :          1,          3,          5
county_pop2018_18 and older:      42438,     170912,      19689
anycondition_prevalence  :       47.6,       40.2,       57.5
anycondition_Lower 95% CI:       45.4,       38.2,       55.6
anycondition_Upper 95% CI:       49.4,       42.3,       59.1
anycondition_number      :      20181,      68790,      11325
Obesity_prevalence       :       35.8,       29.7,       40.7
Obesity_Lower 95% CI     :       34.2,       28.4,       39.5
Obesity_Upper 95% CI     :       37.3,       31.0,       41.9
Obesity_number           :      15193,      50761,       8013
Heart disease_prevalence :        7.9,        7.8,       11.0
Heart disease_Lower 95% CI:        7.2,        7.0,       10.1
Heart disease_Upper 95% CI:        8.7,        8.7,       11.8
Heart disease_number     :       3345,      13414,       2159
COPD_prevalence          :        8.6,        8.6,       12.1
COPD_Lower 95% CI        :        7.3,        7.2,       10.7
COPD_Upper 95% CI        :        9.9,       10.1,       13.3
COPD_number              :       3644,      14692,       2373
diabetes_prevalence      :       12.9,       12.0,       19.7
diabetes_Lower 95% CI    :       11.9,       11.0,       18.6
diabetes_Upper 95% CI    :       13.8,       13.1,       20.6
diabetes_number          :       5462,      20520,       3870
CKD_prevalence           :        3.1,        3.2,        4.5
CKD_Lower 95% CI         :        2.9,        3.0,        4.2
CKD_Upper 95% CI         :        3.3,        3.5,        4.8
CKD_number               :       1326,       5479,        887
Urban_rural_code         :          3,          4,          6

In [54]:
groups = raw_df.dtypes.groupby(raw_df.dtypes).groups

print('groups by dtype:')
for name, group in groups.items():
    print(f'{name}: {group}')

groups by dtype
int64: Index(['fips', 'TOT_POP', '0-9', '19-Oct', '20-29', '30-39', '40-49', '50-59',
       '60-69', '70-79', '80+', 'White-alone pop', 'Black-alone pop',
       'Native American/American Indian-alone pop', 'Asian-alone pop',
       'Hawaiian/Pacific Islander-alone pop', 'Two or more races pop',
       'POP_ESTIMATE_2018', 'N_POP_CHG_2018', 'GQ_ESTIMATES_2018',
       'Less than a high school diploma 2014-18',
       'High school diploma only 2014-18',
       'Some college or associate's degree 2014-18',
       'Bachelor's degree or higher 2014-18', 'POVALL_2018', 'MEDHHINC_2018',
       'CI90LBINC_2018', 'CI90UBINC_2018', 'Civilian_labor_force_2018',
       'Employed_2018', 'Unemployed_2018', 'Median_Household_Income_2018',
       'ICU Beds_x', 'Total Population', 'Population Aged 60+', 'STATE_FIPS',
       'CNTY_FIPS', 'county_pop2018_18 and older', 'anycondition_number',
       'Obesity_number', 'Heart disease_number', 'COPD_number',
       'diabetes_number', 'CKD_number', 'Urban_rural_code'],
      dtype='object')
float64: Index(['0-9 y/o % of total pop', '10-19 y/o % of total pop',
       '20-29 y/o % of total pop', '30-39 y/o % of total pop',
       '40-49 y/o % of total pop', '50-59 y/o % of total pop',
       '60-69 y/o % of total pop', '70-79 y/o % of total pop',
       '80+ y/o % of total pop', '% White-alone', '% Black-alone',
       '% NA/AI-alone', '% Asian-alone', '% Hawaiian/PI-alone',
       '% Two or more races', 'R_birth_2018', 'R_death_2018',
       'R_NATURAL_INC_2018', 'R_INTERNATIONAL_MIG_2018', 'R_DOMESTIC_MIG_2018',
       'R_NET_MIG_2018',
       'Percent of adults with less than a high school diploma 2014-18',
       'Percent of adults with a high school diploma only 2014-18',
       'Percent of adults completing some college or associate's degree 2014-18',
       'Percent of adults with a bachelor's degree or higher 2014-18',
       'PCTPOVALL_2018', 'PCTPOV017_2018', 'PCTPOV517_2018',
       'Unemployment_rate_2018', 'Med_HH_Income_Percent_of_State_Total_2018',
       'Active Physicians per 100000 Population 2018 (AAMC)',
       'Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)',
       'Active Primary Care Physicians per 100000 Population 2018 (AAMC)',
       'Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)',
       'Active General Surgeons per 100000 Population 2018 (AAMC)',
       'Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)',
       'Total nurse practitioners (2019)', 'Total physician assistants (2019)',
       'Total Hospitals (2019)', 'Internal Medicine Primary Care (2019)',
       'Family Medicine/General Practice Primary Care (2019)',
       'Total Specialist Physicians (2019)', 'Percent of Population Aged 60+',
       'anycondition_prevalence', 'anycondition_Lower 95% CI',
       'anycondition_Upper 95% CI', 'Obesity_prevalence',
       'Obesity_Lower 95% CI', 'Obesity_Upper 95% CI',
       'Heart disease_prevalence', 'Heart disease_Lower 95% CI',
       'Heart disease_Upper 95% CI', 'COPD_prevalence', 'COPD_Lower 95% CI',
       'COPD_Upper 95% CI', 'diabetes_prevalence', 'diabetes_Lower 95% CI',
       'diabetes_Upper 95% CI', 'CKD_prevalence', 'CKD_Lower 95% CI',
       'CKD_Upper 95% CI'],
      dtype='object')
object: Index(['COUNTY_NAME', 'STATE_NAME'], dtype='object')

In [39]:
print(f'dtype counts:\n\n{raw_df.dtypes.value_counts()}')

dtype counts:

float64    61
int64      45
object      2
Name: count, dtype: int64

In [36]:
print(f'data has {raw_df.fips.duplicated().sum()} duplicates')
print(f'data has {raw_df.isnull().sum().sum()} null values')

data has 0 duplicates
data has 0 null values

# Model creation